body {
  background: $light-gray;
  color: $dark-gray;
  text-align: center;
}

.main {
  @include outer-container;

  header {
    font-size: 150%;
    color: red;
  }

  section {
    .timestamper {
      font-size: 200%;
      color: $blue;
    }
  }
}

.hidden {
  display: none;
}

.footer {
  padding: 2em;
}