---
title: Epochalypse Now!!!
---

%section.main
  %header.main
    %h1 Epochalypse now!!!
  %section
    .timestamper
    %button.start Start the Epochalypse
    %button.stop Stop the Epochalypse
%section.footer
  %p
    I created this because I needed it. Thought you might too.
    %br/
    If you want to check out the project you can grab it 
    %a{:href => "https://bitbucket.org/zacharyabresch/epochalypsenow"} here.